@page
@model Resome.Pages.Admin.Posts.DeleteModel

@{
	ViewData["Title"] = "حذف مقاله";
}

<style>
	table td {
		vertical-align: baseline !important;
		margin-top: auto;
		margin-bottom: auto;
	}

	table .image {
		width: 150px
	}
</style>
<section class="section pt-85">
	<div class="container">
		<div class="widget">
			<h1>حذف</h1>

			<h3>این مقاله حذف شود؟ </h3>
			<div>
				<hr />
				<dl class="row">
					<dt class="col-sm-2">
						@*نمایش نام تصویر*@
						@Html.DisplayNameFor(model => model.Post.Image)
					</dt>
					@*نمایش تصویر*@
					<dd class="col-sm-10 image rounded">
						<img class="rounded" src="~/image/posts/@Html.DisplayFor(model => model.Post.Image)">
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Post.Title)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Post.Title)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Post.ShortDiscription)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Post.ShortDiscription)
					</dd>
				</dl>

			</div>
			<form method="post">
				<input type="hidden" asp-for="Post.Id" />
				<input type="submit" value="حذف" class="btn btn-danger" /> |
				<a asp-page="./Index">بازکشت به لیست</a>
			</form>
		</div>
		

	</div>
</section>
